

.fiu-raise-request {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.header h1 {
  text-align: center;
  color: #333;
}

.select-re-details,
.identifiers-section,
.action-requested-section,
.upload-docs-section,
.preview-section {
  margin-bottom: 20px;
}

.select-re-details label,
.identifiers-section label,
.action-requested-section label,
.upload-docs-section label,
.preview-section label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.select-re-details select,
.identifiers-section select,
.identifiers-section input,
.action-requested-section select,
.action-requested-section input,
.action-requested-section textarea,
.upload-docs-section input,
.preview-section input,
.preview-section textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.identifiers-table,
.files-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.identifiers-table th,
.files-table th,
.identifiers-table td,
.files-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.identifiers-table th,
.files-table th {
  background-color: #f2f2f2;
}

.add-identifier-btn,
.submit-btn,
.preview-btn,
.files-table button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: darkgrey;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-identifier-btn:hover,
.submit-btn:hover,
.preview-btn:hover,
.files-table button:hover {
  background-color: darkgrey;
}

.action-requested-section .action-details {
  display: flex;
  flex-direction: column;
}

.action-requested-section .action-details > div {
  margin-bottom: 10px;
}

.upload-docs-section input[type='file'] {
  margin-bottom: 10px;
}

.preview-section .preview-details {
  display: flex;
  flex-direction: column;
}

.preview-section .preview-item {
  margin-bottom: 10px;
}

.preview-section .preview-item input,
.preview-section .preview-item textarea {
  background-color: #f9f9f9;
  cursor: not-allowed;
}


.multi-select {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.multi-select div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.multi-select input[type='checkbox'] {
  margin-right: 10px;
}

.multi-select label {
  font-weight: normal;
  color: #333;
}

.re-select
  {
    height: 80%;
    overflow: auto;
    padding: 20px;
}

.re-select-header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid black;
}