.profile-container {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.profile-container h1 {
  text-align: left;
  color: #333;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
}

.profile-info p {
  margin: 5px 0;
  font-weight: bold;
  color: #333;
}

.profile-info input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: not-allowed;
}
